@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body {
    background-image: linear-gradient(to right, #cca990, #cf8661);
}
main {
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 3px hsla(29, 36%, 35%, 0.349);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #92200c;
    text-align: center;
    text-shadow: 1px 1px 0px #7920106c;

}

h2 {
    color: #b43e29;

}

p {
    text-align: justify;
}